NODE_ENV=development
PORT=5041
DATABASE_URL="postgresql://dharmapati:dharmapati123@localhost:5490/dharmapati?schema=public"
REDIS_URL="redis://localhost:6430"
JWT_SECRET="dharmapati-rahasia-ganti-di-produksi"
CORS_ORIGIN="http://localhost:5194"
MINIO_ENDPOINT=localhost
MINIO_PORT=9070
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=dharmapati
MINIO_SECRET_KEY=dharmapati123
MINIO_BUCKET=dharmapati
MINIO_PUBLIC_URL=http://localhost:9070/dharmapati
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
