# URL API dipanggil dari server Next.js (SSR)
API_URL=http://localhost:5041
# URL API dipanggil dari peramban (formulir & panel admin)
NEXT_PUBLIC_API_URL=http://localhost:5041
NEXT_PUBLIC_SITE_URL=http://localhost:5194
